body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    background-color: #070638;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #ff0b0b;
    border-radius: 5px;
}